
.cart-icon-wrapper{
    display: flex;
    justify-content: right;
    height: 50px;
}

.cart-icon-wrapper img{
    padding-right: 200px;
    height: 50px;
}

.main-nav-bar{
    display: flex;
    justify-content: space-around;
}

.main-nav-bar li{
    display: inline;
}

.main-nav-bar li:hover{
    color: gray;
}

.main-nav-bar a{
    text-decoration: none;
    color: black;
}

.main-nav-bar a:hover{
    color: gray;
}